# Annotations
annotations/
annotations*.zip

# *.ipynb
AI_CODEBASE_CONTEXT.md

SAN/

visualizations/
scratch/
segmentation_results.json
ollama_server.log
__pycache__/
*.pyc

logs/
*.pth

# Environment variables
.env

datasets/